## Sales Analysis Tool: Prediction Example

In [2]:
import pandas as pd  
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data_1 = pd.read_csv(r"C:\Users\wanji\Desktop\Sales tool 2\Sales-Tool-Analysis2\Datasets\TrainingData.csv")
data_1

,Period,EQ,Social_Search_Impressions,Social_Search_Working_cost,Digital_Impressions,Digital_Working_cost,Print_Impressions.Ads40,Print_Working_Cost.Ads50,OOH_Impressions,OOH_Working_Cost,...,Magazine_Impressions_pct,TV_GRP,Competitor1_RPI,Competitor2_RPI,Competitor3_RPI,Competitor4_RPI,EQ_Category,EQ_Subcategory,pct_PromoMarketDollars_Subcategory,RPI_Subcategory
0,2016 - Period:1,504.784933,NaN,NaN,37148.2,2045.282,NaN,NaN,NaN,NaN,...,NaN,NaN,97.173365,35.557371,44.502717,63.377268,1728388.673,331927.5394,0.162732,40.560563
1,2016 - Period:2,490.226477,NaN,NaN,50886.8,2370.584,0.000014,0.000015,NaN,NaN,...,NaN,NaN,97.850760,37.223072,45.720077,62.731742,1900859.879,334611.3806,0.231650,40.046301
2,2016 - Period:3,479.244686,NaN,NaN,253333.2,3180.888,0.000016,0.000017,NaN,NaN,...,NaN,NaN,96.397739,40.800563,41.822953,62.090417,2036436.906,387148.3582,0.125394,40.411115
3,2016 - Period:4,489.057428,NaN,NaN,3426239.0,13595.398,0.000016,0.000019,NaN,NaN,...,NaN,NaN,98.936519,36.576140,41.578429,63.374358,2113635.013,482489.6740,0.056603,42.213246
4,2016 - Period:5,477.031994,NaN,NaN,552197.8,3983.134,0.000016,0.000019,NaN,NaN,...,31.702433,25.3,100.509969,36.032016,42.602412,63.291934,2402211.102,629826.6484,0.065059,43.345578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_2 = pd.read_csv(r"C:\Users\wanji\Desktop\Sales tool 2\Sales-Tool-Analysis2\Datasets\TestData.csv")
data_2

,Period,EQ,Social_Search_Impressions,Social_Search_Working_cost,Digital_Impressions,Digital_Working_cost,Print_Impressions.Ads40,Print_Working_Cost.Ads50,OOH_Impressions,OOH_Working_Cost,...,Magazine_Impressions_pct,TV_GRP,Competitor1_RPI,Competitor2_RPI,Competitor3_RPI,Competitor4_RPI,EQ_Category,EQ_Subcategory,pct_PromoMarketDollars_Subcategory,RPI_Subcategory
0,2017 - Period:1,392.326431,1314877.0,7398.658606,NaN,NaN,1.666660e-05,0.000020,NaN,NaN,...,NaN,NaN,98.351850,35.773009,42.782645,65.403281,1696093.627,312550.9088,0.384183,40.624048
1,2017 - Period:6,300.922056,21830378.8,98309.553500,7324082.2,111398.20310,1.059535e+07,239751.406700,1.306122e+08,1.361008e+05,...,39.492174,32.1,116.098715,37.773410,53.149560,76.896817,2674460.512,818710.9650,0.024751,49.735737
2,2018 - Period:1,247.315476,2829923.6,9938.170001,NaN,NaN,1.484088e+04,1618.587524,NaN,NaN,...,NaN,NaN,107.289052,39.953699,49.153589,65.064755,1645094.597,320624.4770,0.313571,42.670532
3,2018 - Period:6,278.317524,15378465.6,58338.893120,5454810.0,74906.49837,1.519706e+02,50.580880,NaN,NaN,...,NaN,NaN,90.388998,34.106909,41.091068,58.301021,2715526.999,798281.1536,0.078074,38.517608
4,2018 - Period:11,161.529279,285755.2,5232.968000,63120.8,NaN,1.929363e+06,24347.693170,1.693330e+09,2.115462e+06,...,NaN,NaN,100.734978,37.813696,45.792891,65.671466,1628818.628,329510.9938,0.006405,40.955281

###  Merge the datasets together

In [7]:
sales_data = pd.concat([data_1, data_2])
sales_data

,Period,EQ,Social_Search_Impressions,Social_Search_Working_cost,Digital_Impressions,Digital_Working_cost,Print_Impressions.Ads40,Print_Working_Cost.Ads50,OOH_Impressions,OOH_Working_Cost,...,Magazine_Impressions_pct,TV_GRP,Competitor1_RPI,Competitor2_RPI,Competitor3_RPI,Competitor4_RPI,EQ_Category,EQ_Subcategory,pct_PromoMarketDollars_Subcategory,RPI_Subcategory
0,2016 - Period:1,504.784933,NaN,NaN,37148.2,2045.28200,NaN,NaN,NaN,NaN,...,NaN,NaN,97.173365,35.557371,44.502717,63.377268,1728388.673,331927.5394,0.162732,40.560563
1,2016 - Period:2,490.226477,NaN,NaN,50886.8,2370.58400,1.400000e-05,0.000015,NaN,NaN,...,NaN,NaN,97.850760,37.223072,45.720077,62.731742,1900859.879,334611.3806,0.231650,40.046301
2,2016 - Period:3,479.244686,NaN,NaN,253333.2,3180.88800,1.560000e-05,0.000017,NaN,NaN,...,NaN,NaN,96.397739,40.800563,41.822953,62.090417,2036436.906,387148.3582,0.125394,40.411115
3,2016 - Period:4,489.057428,NaN,NaN,3426239.0,13595.39800,1.624000e-05,0.000019,NaN,NaN,...,NaN,NaN,98.936519,36.576140,41.578429,63.374358,2113635.013,482489.6740,0.056603,42.213246
4,2016 - Period:5,477.031994,NaN,NaN,552197.8,3983.13400,1.649600e-05,0.000019,NaN,NaN,...,31.702433,25.3,100.509969,36.032016,42.602412,63.291934,2402211.102,629826.6484,0.065059,43.345578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2017 - Period:1,392.326431,1314877.0,7398.658606,NaN,NaN,1.666660e-05,0.000020,NaN,NaN,...,NaN,NaN,98.351850,35.773009,42.782645,65.403281,1696093.627,312550.9088,0.384183,40.624048
1,2017 - Period:6,300.922056,21830378.8,98309.553500,7324082.2,111398.20310,1.059535e+07,239751.406700,1.306122e+08,1.361008e+05,...,39.492174,32.1,116.098715,37.773410,53.149560,76.896817,2674460.512,818710.9650,0.024751,49.735737
2,2018 - Period:1,247.315476,2829923.6,9938.170001,NaN,NaN,1.484088e+04,1618.587524,NaN,NaN,...,NaN,NaN,107.289052,39.953699,49.153589,65.064755,1645094.597,320624.4770,0.313571,42.670532
3,2018 - Period:6,278.317524,15378465.6,58338.893120,5454810.0,74906.49837,1.519706e+02,50.580880,NaN,NaN,...,NaN,NaN,90.388998,34.106909,41.091068,58.301021,2715526.999,798281.1536,0.078074,38.517608
4,2018 - Period:11,161.529279,285755.2,5232.968000,63120.8,NaN,1.929363e+06,24347.693170,1.693330e+09,2.115462e+06,...,NaN,NaN,100.734978,37.813696,45.792891,65.671466,1628818.628,329510.9938,0.006405,40.955281

In [10]:
sales_data.reset_index(drop = True, inplace = True)
sales_data

,Period,EQ,Social_Search_Impressions,Social_Search_Working_cost,Digital_Impressions,Digital_Working_cost,Print_Impressions.Ads40,Print_Working_Cost.Ads50,OOH_Impressions,OOH_Working_Cost,...,Magazine_Impressions_pct,TV_GRP,Competitor1_RPI,Competitor2_RPI,Competitor3_RPI,Competitor4_RPI,EQ_Category,EQ_Subcategory,pct_PromoMarketDollars_Subcategory,RPI_Subcategory
0,2016 - Period:1,504.784933,NaN,NaN,37148.2,2045.28200,NaN,NaN,NaN,NaN,...,NaN,NaN,97.173365,35.557371,44.502717,63.377268,1728388.673,331927.5394,0.162732,40.560563
1,2016 - Period:2,490.226477,NaN,NaN,50886.8,2370.58400,1.400000e-05,0.000015,NaN,NaN,...,NaN,NaN,97.850760,37.223072,45.720077,62.731742,1900859.879,334611.3806,0.231650,40.046301
2,2016 - Period:3,479.244686,NaN,NaN,253333.2,3180.88800,1.560000e-05,0.000017,NaN,NaN,...,NaN,NaN,96.397739,40.800563,41.822953,62.090417,2036436.906,387148.3582,0.125394,40.411115
3,2016 - Period:4,489.057428,NaN,NaN,3426239.0,13595.39800,1.624000e-05,0.000019,NaN,NaN,...,NaN,NaN,98.936519,36.576140,41.578429,63.374358,2113635.013,482489.6740,0.056603,42.213246
4,2016 - Period:5,477.031994,NaN,NaN,552197.8,3983.13400,1.649600e-05,0.000019,NaN,NaN,...,31.702433,25.3,100.509969,36.032016,42.602412,63.291934,2402211.102,629826.6484,0.065059,43.345578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,2017 - Period:1,392.326431,1314877.0,7398.658606,NaN,NaN,1.666660e-05,0.000020,NaN,NaN,...,NaN,NaN,98.351850,35.773009,42.782645,65.403281,1696093.627,312550.9088,0.384183,40.624048
1000,2017 - Period:6,300.922056,21830378.8,98309.553500,7324082.2,111398.20310,1.059535e+07,239751.406700,1.306122e+08,1.361008e+05,...,39.492174,32.1,116.098715,37.773410,53.149560,76.896817,2674460.512,818710.9650,0.024751,49.735737
1001,2018 - Period:1,247.315476,2829923.6,9938.170001,NaN,NaN,1.484088e+04,1618.587524,NaN,NaN,...,NaN,NaN,107.289052,39.953699,49.153589,65.064755,1645094.597,320624.4770,0.313571,42.670532
1002,2018 - Period:6,278.317524,15378465.6,58338.893120,5454810.0,74906.49837,1.519706e+02,50.580880,NaN,NaN,...,NaN,NaN,90.388998,34.106909,41.091068,58.301021,2715526.999,798281.1536,0.078074,38.517608
1003,2018 - Period:11,161.529279,285755.2,5232.968000,63120.8,NaN,1.929363e+06,24347.693170,1.693330e+09,2.115462e+06,...,NaN,NaN,100.734978,37.813696,45.792891,65.671466,1628818.628,329510.9938,0.006405,40.955281

### Dataset Info

In [13]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Period                              39 non-null     object
 1   EQ                                  39 non-null     float64
 2   Social_Search_Impressions           29 non-null     float64
 3   Social_Search_Working_cost          29 non-null     float64
 4   Digital_Impressions                 26 non-null     float64
 5   Digital_Working_cost                25 non-null     float64
 6   Print_Impressions.Ads40             38 non-null     float64
 7   Print_Working_Cost.Ads50            38 non-null     float64
 8   OOH_Impressions                     12 non-null     float64
 9   OOH_Working_Cost                    9 non-null      float64
 10  SOS_pct                             39 non-null     float64
 11  Digital_Impressions_pct             13 non-null     float64
 12  CCFOT                               39 non-null     float64
 13  Median_Temp                         39 non-null     float64
 14  Median_Rainfall                     39 non-null     float64
 15  Fuel_Price                          39 non-null     float64
 16  Inflation                           39 non-null     float64
 17  Trade_Invest                        39 non-null     float64
 18  Brand_Equity                        39 non-null     float64
 19  Avg_EQ_Price                        39 non-null     float64
 20  Any_Promo_pct_ACV                   39 non-null     float64
 21  Any_Feat_pct_ACV                    12 non-null     float64
 22  Any_Disp_pct_ACV                    25 non-null     float64
 23  EQ_Base_Price                       39 non-null     float64
 24  Est_ACV_Selling                     39 non-null     float64
 25  pct_ACV                             39 non-null     float64
 26  Avg_no_of_Items                     39 non-null     float64
 27  pct_PromoMarketDollars_Category     39 non-null     float64
 28  RPI_Category                        39 non-null     float64
 29  Magazine_Impressions_pct            13 non-null     float64
 30  TV_GRP                              13 non-null     float64
 31  Competitor1_RPI                     39 non-null     float64
 32  Competitor2_RPI                     39 non-null     float64
 33  Competitor3_RPI                     39 non-null     float64
 34  Competitor4_RPI                     39 non-null     float64
 35  EQ_Category                         39 non-null     float64
 36  EQ_Subcategory                      39 non-null     float64
 37  pct_PromoMarketDollars_Subcategory  39 non-null     float64
 38  RPI_Subcategory                     39 non-null     float64
dtypes: float64(38), object(1)
memory usage: 306.0+ KB

In [15]:
sales_data.shape

(1004, 39)

In [ ]:
sales_data